.CurrentWeather {
  color: #ffffff;
  font-size: 40px;
}

.CurrentWeather img {
  width: 130px;
}

.CurrentWeather span {
  font-size: 140px;
  color: #e9af03e0;
}

.CurrentWeather span.unit-type {
  font-size: 50px;
  position: relative;
  left: 20px;
  bottom: 60px;
}

.CurrentWeather a {
  text-decoration: none;
  color: #757575;
  transition: all 200ms ease-in-out;
  position: relative;
}

.CurrentWeather a:hover {
  color: #ffffff;
  cursor: pointer;
}

.CurrentWeather a.active {
  color: #212121;
}
